html,body {
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	text-align:left;
	padding:0;
	margin:0;
	color:#000;
	box-sizing: border-box;	
}

h1,h2{
	font-weight:normal;
	font-size:21px;
	padding:0 0 10px 0;
	border-bottom:1px solid #e0e0e0;
}

strong{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;	
}

.f-light{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.f-bold{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.f-black{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
} 

.f-size-12{
	font-size:12px;
}

.f-size-14{
	font-size:14px;
}

.f-size-18{
	font-size:18px;
} 

.f-size-24{
	font-size:24px;
}

.f-size-28{
	font-size:28px;
}

.f-size-36{
	font-size:36px;
}

.f-size-45{
	font-size:45px;
}

.color-red{
	color:#ff3333;
}

.color-white{
	color:#ffffff;
}

.color-blue{
	color:#0f2364;
}

.color-gray{
	color:#b8b8b8;
}

.text-right{
	text-align:right;
}

.text-center{
	text-align:center;
}

.w-100{
	width:100%;
}

p{
 margin:5px 0;
}

table{
	width:100%;
	border:none;
	border-collapse:collapse;
	margin:20px 0 0 0;
}

.main-table tr:first-child { background-color: #ececec;} 
.main-table--top tr:first-child { background-color: #ececec;} 
.main-table tr:hover{background-color: #ececec;}
.main-table--top tr:hover{background-color: #ececec;}

.main-table td{
	padding:10px 5px;
	border-bottom:1px solid #e0e0e0;
	vertical-align:middle;
}

.main-table--top td{
	padding:10px 5px;
	border-bottom:1px solid #e0e0e0;
	vertical-align:top;
}

th{
	padding:10px 5px;
	border-bottom:2px solid #a1a1a1;
	vertical-align:middle;
	text-align:left;
}

.selected-row{
	background-color:#ececec;
}

li{
	margin:0 0 0 30px;  
	list-style-type: none;
}

.m-1{
	margin:5px 0;	
}

.m-2{
	margin:10px 0;	
}
  
.m-3{
	margin:15px 0;	
}

.p-1{
	padding:5px 0;	
}

.p-2{
	padding:10px 0;	
}
  
.p-3{
	padding:15px 0;	
}

.flex-start{
	display: -webkit-flex; 
	display: flex;  
	justify-content:flex-start;
}

.flex-between{
	display: -webkit-flex; 
	display: flex;
	justify-content:space-between;
}

/* левое меню, кнопка, иконки */

.menu{
	width:200px;
	min-width:200px;
	background-color:#222a32;
	min-height:100vh;	
	padding:15px 5px 5px 5px; 
	font-size:12px;
}

.menu__content{
	position:fixed;
	min-width:200px;
}

.menu__item{
	color:#fff;
	align-items: center;
	margin:0 0 1px 0;
	padding:10px 5px; 
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transform-origin: 0 0;
}

.menu__item:hover{
	background-color:#333b42;
}

.menu__active{
	background-color:#575d63;
}

.menu-item-separator{
	height:1px;
	background-color:#575d63;
	margin:10px 0;
}

.menu__icon, .btn__icon{
	width:24px;
	height:24px;
	color:#fff; 
}

.menu__label, .btn__label{
	padding:0 0 0 10px;	
}

button{
	display: -webkit-flex; 
	display: flex;  
	justify-content:flex-start;
	align-items: center;
	color:#fff;
	padding:10px; 
	margin:0 30px 0 0;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transform-origin: 0 0;
	background-color:#f33c38;
	border:none;
	cursor:pointer;
}

button:hover{
	background-color:#e53935;
}

.action-icon--del{
	width:22px;
	height:22px;
	color:#ff0000;	
}

.action-icon--edit{
	width:22px;
	height:22px;
	color:#0070bf;	
}

.action-icon--hidden{
	width:24px;
	height:24px;
	color:#dadada;	
	cursor:pointer;
}

.action-icon--visible{
	width:24px;
	height:24px;
	color:#4caf50;	
	cursor:pointer;
}

/* содержание */

.title{
	display: -webkit-flex; 
	display: flex;  
	justify-content:space-between;
	align-items: center;
	width:calc(100% - 200px);
	padding: 0 10px;
	position:fixed;
	height:70px;
	background-color:#fff;
	box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.15);
	z-index:9999;
}

.container{
	width:calc(100% - 200px);
	background-color:#fafafa;
}

.content {
	padding:80px 10px 10px 10px;
}

.gline{
	height:1px;
	border-top:1px solid #c2c2c2;
	margin:20px 0;
}

.note{
	padding:10px 10px 10px 50px;
	margin:20px 0;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
	background: #e9f5ea url(../images/note.png) no-repeat 14px 18px;
	line-height:1.5;
}

.card{
	padding:20px;
	margin:20px 0;
	width:25%;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
	background-color:#fff;
	box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.15);
}

a:link    {color:#0070bf; text-decoration:none; border-bottom:1px solid #63ade1}
a:active  {color:#0070bf; text-decoration:none; border-bottom:1px solid #63ade1}
a:visited {color:#0070bf; text-decoration:none; border-bottom:1px solid #63ade1}
a:hover   {color:#0070bf; text-decoration:none; border-bottom:1px solid #0070bf}

a.no-decoration:link    {text-decoration:none; border:none}
a.no-decoration:active  {text-decoration:none; border:none}
a.no-decoration:visited {text-decoration:none; border:none}
a.no-decoration:hover   {text-decoration:none; border:none}

/* авторизация, формы */

.auth{
	background-image: url(../images/auth.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height: 100vh;
}

.auth-form-container{
	width:400px;
	padding:20px;
	background-color:#fff;
	margin:0 auto;
	box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.25);
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 filter: alpha(opacity=0);
	 -moz-opacity: 0;
	 -khtml-opacity: 0;
	 opacity: 0;
	 animation-duration: 0.5s;
	 animation-delay: 0.5s;
	 animation-name: auth-in;
	 animation-timing-function: ease-out;
	 animation-fill-mode: forwards;
}

@keyframes auth-in {
	from {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	margin:0 auto;
	}

	to {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;	
	margin:10px auto 0 auto;
	}
}

.label {
	margin: 20px 0 5px 5px;
	font-size:12px;
}

.input{
	color:#000000;
	background-color:#fff;
	font-family: 'Montserrat', sans-serif;
	border:#c2c2c2 1px solid;
	padding:10px 5px;
	width:calc(100% - 10px);
}

.input:focus{
	border:#3c4a58 1px solid;
}

textarea{
	color:#000000;
	background-color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	resize:none;
}

.input-error{
	background-color:#ffcfcf;
}

.input-container{
	margin:0 0 30px 0;	
}

.input-btn-container{
	padding:0 0 10px 0;
	margin:10px 20px 0 0;
	text-align:right;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;
	background-image: url(images/select-arr.png);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	cursor:pointer;
}

select::-ms-expand {
	display: none;
}

input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
:focus { outline:none; } 

::-webkit-input-placeholder {color:#91918e;}
::-moz-placeholder          {color:#91918e;}
:-moz-placeholder           {color:#91918e;}
:-ms-input-placeholder      {color:#91918e;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/* стиль checkbox */

.checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox__text {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox__text:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #e8e8e8;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.checkbox__text:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.checkbox input:checked + .checkbox__text:before {
	background: #8c8c8c;
}
.checkbox input:checked + .checkbox__text:after {
	left: 26px;
}

.btn-submit-container{
	text-align:center;
	margin:30px 0 30px 0;
}

.btn-submit{
	color:#fff;
	background-image: url(images/add-icon.png);
	background-repeat:no-repeat;
	background-position:8px 50%;
	background-color:#f33c38;
	padding:15px 15px 15px 40px;
	border:1px solid #e0e0e0;
	text-align:center;
	cursor:pointer;
	transition: 0.3s;
	border:none;
}

.btn-submit:hover{
	background-color:#e53935;
}

@media only screen and (max-width : 760px) {
	
	.menu__label{
	 display:none;
	}
	
	.menu{
	 width:35px;
	 min-width:35px;
	}

	.menu__content{
	 width:35px;
	 min-width:35px;
	}
	
	.title{
	 width:calc(100% - 35px);
	}
	
	.container{
	 width:calc(100% - 35px);
	}

}


